<div class="section footer-section">
  <div class="wrapper">
    <div class="w-layout-grid footer-grid">
      <div class="logo-div footer">
        <div class="small-text">Nerdefi aims to simplify Blockchain investment vehicles. The team provides credible and vetted information. </div>
      </div>
      <div class="menu-div">
        <div class="feat-big-text">About us</div><a href="#" class="footer-link">Partner Help</a><a href="#" class="footer-link">investor relations</a><a href="#" class="footer-link">terms &amp; conditions</a></div>
      <div class="menu-div">
        <div class="feat-big-text">Product</div><a href="#" class="footer-link">features</a><a href="#" class="footer-link">Pricing</a><a href="#" class="footer-link">Support</a></div>
      <div class="menu-div">
        <div class="feat-big-text">resouces</div><a href="#" class="footer-link">customers</a><a href="#" class="footer-link">whitepaper</a><a href="#" class="footer-link">Media coverage</a></div>
    </div>
    <div class="footer-line"></div>
    <div class="bottom">
      <div class="small-text">Copyright © 2019. All rights reserved.</div>
      <div class="social">
        <a href="#" class="social-link w-inline-block">
          <img src="/assets/images/fb_1fb.png" alt="" class="social-image">
        </a>
        <a href="#" class="social-link w-inline-block">
          <img src="/assets/images/tw_1tw.png" alt="" class="social-image">
        </a>
        <a href="#" class="social-link w-inline-block">
          <img src="/assets/images/v_1v.png" alt="" class="social-image">
        </a>
        <a href="#" class="social-link w-inline-block">
          <img src="/assets/images/g_1g.png" alt="" class="social-image">
        </a>
      </div>
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="/assets/js/webflow.js"></script>
